:root{
    --main-bg-color:#1e1e2f;
    --btn-color:#fca311;
    --text-color:#dcdcdc;
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: var(--main-bg-color);
    color:var(--text-color);
}

main{
    text-align: center;
}

.register-title{
    margin:20px 0;
}

.user-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:8px;
}

.user-input label{
    font-size: 1.2rem;
}

#cash{
    font-size: 1.1rem;
    padding:0.2em 0.5em;
    margin-bottom: 12px;
}

.change-display{
    height:500px;
    width:500px;
    margin:0 auto;
    border:2px solid;
    margin-top:12px;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding:1em;
    gap:20px;

}

#purchase-btn{
    color:#fff;
    padding:0.5em 1.2em;
    background-color:var(--main-bg-color);
    cursor: pointer;
    border-color: rgb(216, 240, 0);
    border-radius: 5px;
    border-width: 3px;
    font-size: 1.2em;
}

#change-due{
    border: 2px solid rgb(236, 250, 236);
    width:60%;
    height:50%;

}



@media screen  and (max-width:500px){
  .change-display{
    width:300px;
  }    
}